<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoes The New Fashion </title>

<body>
    <h1>HI FROM HTML</h1>
    <ul>
        <li>
            Nombre: <%= usuario.nombre %>
        </li>
        <li>
            Direccion: <%= usuario.direccion %>
        </li>
        <li>
            Celular: <%= usuario.celular %>
        </li>
        <li>
            Peso: <%= usuario.peso %>
        </li>
        <li>
            Edad: <%= usuario.edad %>
        </li>
    </ul>
</body>
</head>

</html>