<h1>HI FROM HTML</h1>
<ul>
  <li>Nombre: <%= usuario.nombre %>
  </li>
  <li>Direccion: <%= usuario.direccion %>
  </li>
  <li>Celular: <%= usuario.celular %>
  </li>
  <li>Peso: <%= usuario.peso %>
  </li>
  <li>Edad: <%= usuario.edad %>
  </li>
</ul>